################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Aed_So_Interdisciplinar/v15/Server/sqlite3
